body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: black;
}
section {
  padding: 5em;
}

h1 {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 800;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .image-desc {
    padding-right: 20px;
  }
}

.subheading {
  font-size: 1.5em;
  margin-bottom: 2em;
  text-transform: uppercase;
  color: rgb(179, 179, 179);
  font-weight: 300;
}

p {
  font-size: 16px;
  font-weight: 300;
}
